.gigs-buttons {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.vl-s {
  border-left: 1px solid #F4F798;
  opacity: 50%;
  height: 40px;
}

.link-pg-btn, .link-ug-btn, .link-gg-btn {
  color: #F4F798;
  text-decoration: none;
  font-size: 18px;
  margin: 0 10px;
  &:hover {
    color: #F7C729;
  }
}

.gigs-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.past-gigs-container {
  width: 50%;
}

.past-gigs-card, .upcoming-gigs-card {
  // border: 1px solid #F4F798;
  display: flex;
  flex-direction: column;
  border-radius: 18px;
  margin: 25px;
  padding: 10px;
  // width: 30vw;
  // height: 10vw;
  // width: 240px;
  // height: 270px;
  box-shadow: 0px 0px 8px #7e7e7e;
  a {
  text-decoration: none;
  color: white;
  }
a:hover {
  color: #F4F798;
  }
&:hover {
  box-shadow: 0px 0px 20px #7e7e7e;
  transition: .25s ease;
  }
}

// .past-gigs-card {
//   margin: 25px 75px;
// }

.vl {
  display: flex;
  border-left: 1px solid #F4F798;
  opacity: 20%;
  margin-bottom: 20px;
  margin-top: 35px;
  // height: 500px;
  // position: absolute;
  // left: 49%;
  // top: 240px;
}

h2.pg, h2.ug, h2.gg {
  text-align: center;
  font-size: 24px;
}

.h2pg {
 float: left;
}

.h2up {
  float: right;
}

.past-gigs, .upcoming-gigs {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  align-items: center;
  justify-content: center;
  // float: left;
  // margin: 0 20px;
}

// .pg-card-img-wrap {
//   display: flex;
//   justify-content: center;
// }

.pg-card-img {
  background-size: cover;
  background-position: center;
  border: 2px solid #F4F798;
  border-radius: 14px;
  // width: 10vw;
  width: 100%;
  height: 140px;
  object-fit: cover;
  object-position: top;
}

.pg-card-content {
  display: flex;
  flex-direction: column;
  margin: 4%;
  color: #F4F798;
  font-size: 14px;
  letter-spacing: 0.8px;
  line-height: 25px;
}

p {
  opacity: 90%;
}

p.artist {
  font-size: 16px;
  margin: 0;
}

p.vanue, p.date {
  font-size: 14px;
  margin: 0;
}

i {
  margin-right: 5px;
}
