.cancel-btn-e {
  position: initial;
  right: 20px;
  background-color: #CF6679;
  border: none;
  border-radius: 4px;
  color: #121212;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  font-family: "Open Sans";
  margin: 2px 0;
  cursor: pointer;

  &:hover {
    background-color: #a32139;
    transition: all .4s ease;
  }
}

.btn-inverse-small {
  background-color: #121212;
  border: 2px solid #F4F798;
  border-radius: 4px;
  color: #F4F798;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  font-family: "Open Sans";
  margin: 4px 2px;
  cursor: pointer;

  &:hover {
    border: 2px solid #F7C729;
    color: #F7C729;
    transition: all .4s ease;
  }
}

.buttons-wrap {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
}
