body {
  background-color: #121212;
  // margin: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

html {
  scroll-behavior: smooth;
}

a:link {
  text-decoration: none;
}

.hp-container-top {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.hp-container-bottom {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  font-family: "Permanent Marker";
  text-align: center;
  font-size: 96px;
  color: #FFFFFF;
  opacity: 87%;
  // position: relative;
  // top: 50px;
}

.homepage-logo-img {
  // position: relative;
  // top: 70px;
  text-align: center;
}

.homepage-typed-js {
  // position: relative;
  // top: 100px;
  text-align: center;
}

.homepage-arrows {
  // position: relative;
  // top: 145px;
  text-align: center;
}

h1 {
  font-family: "Permanent Marker";
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
  opacity: 87%;
}

h2 {
  font-family: "Open Sans";
  font-size: 32px;
  color: #FFFFFF;
  opacity: 87%;
  font-weight: bold;
}

h3 {
  font-family: "Open Sans";
  font-size: 24px;
  color: #FFFFFF;
  opacity: 87%;
  font-weight: bold;
  letter-spacing: 7.5%;
}

h4 {
  font-family: "Open Sans";
  font-size: 24px;
  color: #FFFFFF;
  opacity: 87%;
  font-weight: "regular";
  letter-spacing: 7.5%;
}

p {
  font-family: "Open Sans";
  font-size: 20px;
  color: #FFFFFF;
  // opacity: 60%;
  font-weight: "regular";
  letter-spacing: 8.5%;
}
