body {
  background-color: #121212;
}

a:link {
  text-decoration: none;
}

.logo {
  font-family: "Permanent Marker";
  font-size: 96px;
  color: #FFFFFF;
  opacity: 87%;
}

h1 {
  font-family: "Permanent Marker";
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
  opacity: 87%;
}

h2 {
  font-family: "Open Sans";
  font-size: 32px;
  color: #FFFFFF;
  opacity: 87%;
  font-weight: bold;
}

h3 {
  font-family: "Open Sans";
  font-size: 24px;
  color: #FFFFFF;
  opacity: 87%;
  font-weight: bold;
  letter-spacing: 7.5%;
}

h4 {
  font-family: "Open Sans";
  font-size: 24px;
  color: #FFFFFF;
  opacity: 87%;
  font-weight: "regular";
  letter-spacing: 7.5%;
}

p {
  font-family: "Open Sans";
  font-size: 20px;
  color: #FFFFFF;
  opacity: 60%;
  font-weight: "regular";
  letter-spacing: 8.5%;
}
