.show-page {
  height: 100%;
}
.show-banner {
  background-color: black;
  border-style: solid;
  height: 250px;
  width: 100%;

}

.show-container {
  margin-left: 300px;
  margin-right: 300px;
  padding-top: 20px;
  //border-style: solid;
  //border-top-color: white;
  //border-bottom-color: black;
  h3, p {
    color: white;
  }

  height: 2000px;
}

.show-container-header {
  //border-color: white;
  //border-style: solid;
  height:210px;
}

.show-header-text-icon {
  height:20px;
}

.show-container-header-img {
  //border-style: solid;
  //border-color: pink;
  float:right;
  width:50%;
  height:210px;
}

.show-container-header-text {
  width: 50%;
  //border-style: solid;
  //border-color: orange;
  float:left;
  height:210px;
}

.show-header-img {
  height:100%;
  border-radius: 20px;
  float:left;
  max-width: 80%;
  max-height: 100%;
  margin-right:60px;
}

.show-container-about {
  h5 { color: black;
    font-weight:700;
  }
  //border-style: solid;
 //border-color: violet;
  height:300px;
  width:100%;
  p {
    color:black;
    padding: 10px;
    width:100%;
  }
}

.show-container-grid {
  h5 { color: black;
    font-weight:700;
  }
  //border-style: solid;
 //border-color: violet;
  height:900px;
  width:100%;
  p {
    color:black;
    padding: 10px;
    width:100%;
  }
}

.show-title {
  height: 50px;
  border-bottom-style: solid;
  border-bottom-color: black;
  border-bottom-width: 1px;
  width:60%;
  padding-top: 25px;
}

.show-container-text {
  height: 240px;
  //border-style: solid;
 // border-color: navy;
  width:60%;
  float:left;
   h1 {
    font-size: 37px;
   }
}

.show-container-grid-text {
  height: 850px;
 //border-style: solid;
 //border-color: navy;
  width:70%;
  float:left;
  padding-top:10px;
   h1 {
    font-size: 37px;
   }

   h4{
    font-size: 20px;
    font-weight: 600;
   }
   a{
    text-decoration: none;
    color:black;
   }

    a{
    text-decoration: none;
    color:black;
   }
   a:hover{
    text-decoration: none;
    color:black;
   }
}

.show-container-button{
  height: 230px;
  width:40%;
  float:right;
 // border-radius: 20px;
// border-style: solid;
 // border-color: maroon;
  padding-top:10px;
  text-align: center;
  color:white;
  opacity:1;
  font-weight: 700;
  font
  p {
    color: white;
    text-align: center;
    opacity: 1;
  }
}

.show-container-button-b{
  height: 230px;
  width:30%;
  float:right;
  border-radius: 20px;
// border-style: solid;
 // border-color: maroon;
  padding-top:10px;
  text-align: center;
  p {
    color: white;
    text-align: center;
    opacity: 1;
  }
}

.show-container-button-img{
  height: 100%;
  background-size: cover;
  width:100%;
  opacity: 0.7;
  border-radius: 20px;
}
.show-container-button-box{
  height:30px;
  width:70px;
  border-radius: 20px;
  background-color: rgb(229, 219, 219);
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin:0 auto;
  color:black;
  opacity:1;

}
.show-container-button-boxa{
  height:30px;
  width:140px;
  border-radius: 20px;
  background-color: rgb(229, 219, 219);
  text-align: center;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  margin:0 auto;
  color:black;
  opacity:1;

}
.show-container-button-box:hover {
  font-size: 23px;
}
.show-container-button-boxa:hover {
  font-size: 23px;
}

.show-container-grid-text-box-a {
//  border-style:solid;
 //border-color:lightcoral;
 height:36%;
    width:33%;
    float:left;
    padding-left: 30px;
    margin-bottom: 30px;
}

.show-container-grid-text-box-b {
 //border-style:solid;
  //border-color:lightcoral;
   height:36%;
    width:33%;
    float:left;
    padding-left: 30px;
    margin-bottom: 30px;
}


.show-container-grid-text-box-c {
// border-style:solid;
//  border-color:lightcoral;
    height:36%;
    width:33%;
    float:right;
    padding-left: 30px;
    margin-bottom: 30px;
}

.show-container-grid-text-box-d {
 //  border-style:solid;
 // border-color:lightcoral;
  height:36%;
    width:33%;
    float:left;
    padding-left: 30px;
    margin-bottom: 30px;
}

.show-grid-text {
// border-style:solid;
//  border-color:lightcoral;
  height:70%;
  width:100%;
}

.show-grid-image {
  height:100%;
  width:100%;
  object-fit: fill;
  border-radius: 20px;
  padding-bottom: 8px;
}

.show-container-grid-text-box-a:hover {
 .show-grid-text {
   height:73%;
   padding-bottom: 5px;
 }
}

.show-container-grid-text-box-b:hover {
  .show-grid-text {
    height:73%;
    padding-bottom: 5px;
  }
 }

 .show-container-grid-text-box-c:hover {
  .show-grid-text {
    height:73%;
    padding-bottom: 5px;
  }
 }

 .show-container-grid-text-box-d:hover {
  .show-grid-text {
    height:73%;
    padding-bottom: 5px;
  }
 }
