.carousel-border {
  // border: 2px solid #FFFFFF;
  border-radius: 17px;
  height: 250px;
  width: 350px;
  z-index: 1;
}

.img-border {
  border-radius: 17px;
  z-index: -1;
}

.carousel-img {
  height: 247px;
  width: 348px;
  border-radius: 17px;
  border: 2px solid #FFFFFF;
  margin-top: 6px;
}

#player-logo-gigs {
  height: 30px;
}

.player-card-gigs {
  // display: block;
  display: flex;
  align-items: center;
  margin-top: 6px;
  // width: 133%;
  border: 2px solid #FFFFFF;
  // height: 300px;
  border-radius: 17px;
  padding-left: 22px;
  padding-right: 18px;
    ul {
      margin-right: 13px;
      margin-left: -20px;
    }
    i {
      color: #F4F798;
    }

    p {
      margin: 30px 0;

    }

    .player-container {
      text-align: inherit;
      display: inline-flex;
      justify-content: center;
    }
  }

  .colour {
    color: #F4F798;
  }

  .gig-page-main-right {
    width: 40%;
    float: right;
  }

  .gigs-player {
    width: 70%;
    color:white;
    audio{
      float:right;
    }
    p {
      padding-bottom: 20px;
    }
  }

  .text-justify {
    text-align: justify;
    width: 93%;
  }
