.text-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.primary-button {
  display: inline;
  padding: 5px 20px;
}

// h2.pg {
//   margin-right: 20px;
// }

.pt-2 {
  margin-left: 20px;
}


.form-container {
  // display: inline-block;
  border: 2px solid #F4F798;
  border-radius: 14px;
  padding: 8px;
  margin: 0 auto;
  width: fit-content;
}


.form_artist, .form_venue, .form_genre, #submit {
  padding: 6px;
  border-radius: 6px;
  border: 2px solid #F4F798;
  background-color: #121212;
  color: #F4F798;
  margin: 0 5px;
}

#submit {
  width: 50px;
}

.all-past-gigs {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  // width: 50%;
}


.past-cancel-btn {
  position: inherit;
  right: 20px;
}

.past-cancel-btn {
  background-color: #CF6679;
  border: none;
  border-radius: 20px;
  color: #121212;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans";
  margin: 2px 0;
  cursor: pointer;

  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    color: #121212;
  }
}

 .past-cancel {
  padding-top: 4px;
  a {
    color: #121212;
    &:hover {
      color: #121212;
    }
  }
}
