.text-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.primary-button {
  display: inline;
  padding: 5px 20px;
}

// h2.pg {
//   margin-right: 20px;
// }

.pt-2 {
  margin-left: 20px;
}


.form-container {
  // display: inline-block;
  border: 2px solid #F4F798;
  border-radius: 14px;
  padding: 8px;
  margin: 0 auto;
  width: fit-content;
}


.form_artist, .form_venue, .form_genre, #submit {
  padding: 6px;
  border-radius: 6px;
  border: 2px solid #F4F798;
  background-color: #121212;
  color: #F4F798;
  margin: 0 5px;
}

#submit {
  width: 50px;
}

.all-past-gigs {
  display: inline-grid;
  grid-template-columns: 1fr 1fr;
  width: 70%;
}
