.text-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.primary-button {
  display: inline;
  padding: 5px 20px;
}

// h2.pg {
//   margin-right: 20px;
// }

.pt-2 {
  margin-left: 20px;
}
