.up-gigs-card {
  // border: 1px solid #F4F798;
  display: flex;
  flex-direction: row;
  border-radius: 18px;
  margin: 25px 0;
  padding: 10px;
  width: 500px;
  height: 160px;
  box-shadow: 0px 0px 8px #7e7e7e;
  position: relative;
  a {
  text-decoration: none;
  color: white;
  }
  a:hover {
    color: #F4F798;
  }
  &:hover {
    box-shadow: 0px 0px 20px #7e7e7e;
    transition: .25s ease;
  }
}

.up-gigs-container {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
}

.ug-card-img-wrap {
  display: flex;
  justify-content: center;
}

.ug-card-img {
  background-size: cover;
  background-position: center;
  border: 2px solid #F4F798;
  border-radius: 8px;
  width: 180px;
  height: 140px;
  object-fit: cover;
  object-position: top;
}

.ug-card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0 15px;
  color: #F4F798;
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 25px;
}

.cancel-btn, .edit-btn {
  position: absolute;
  right: 20px;
}

.cancel-btn, .edit-btn {
  background-color: #CF6679;
  border: none;
  border-radius: 20px;
  color: #121212;
  padding: 0 15px;
  text-align: center;
  text-decoration: none;
  // display: inline-block;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans";
  margin: 2px 0;
  cursor: pointer;

  &:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
    color: #121212;
  }
}

.edit-btn {
  right: 20px;
  bottom: 10px;
  background-color: #F4F798;
}

.edit, .cancel {
  a {
    color: #121212;
  }
}

.edit {
  a:hover {
    color: #F7C729;
    font-weight: bold;
  }
}
