.user-gig-page {
  height:1000px;
  color: white;
  padding-top: 30px;
  color: white;
}

.user-gig_page-main {
  height:500px;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
}

.user-gig-page-suggested {
  height:500px;
  margin-left: 100px;
  margin-right: 100px;
  width: 100%;
  position:relative;
  display:flex;
  margin-top: 200px;
  text-align: center;
  color: white;
}

.user-gig-page-suggested-title{
  display: flex;
  height:25px;
  width:1000px;
  float:right;
  padding-bottom: 60px;
  padding-top: 60px;
  p {
    font-size: 22px;
    color: white;
  }
  color: white;
}

.user-gig-page-main-left {
  height:520px;
  width:40%;
  margin-left: 100px;
  float:left;
  color: white;
    i {
      color: rgb(215, 170, 7);
    }
}

.user-gig-page-main-left-about{
  height:55%;
  width:100%;
 color: white;
}

.user-gig-page-main-right {
  height:520px;
  width:30%;
  margin-right: 100px;
  float:right;
  margin-bottom:20px;
  color: white;
}

.user-gig-page-main-right-spotify {
  height:70%;
  width:1100px;
  color:white;
  audio{
    float:right;
  }
  p {
    padding-bottom: 20px;
  }
}

.user-gig-page-main-right-carousel{
  height:200px;
  width:100%;
  color: white;
}

#carouselExampleControls, .carousel-inner{
  height:200px;
  width:300px;
  color: white;
}

.show-carousel-img{
  object-fit: fill;
  width:300px;
  height:200px;
  color: white;
}

.user-gig-suggested-a{
  width:400px;
  height:200px;
  //border-style: solid;
  //border-color:blue;
  a {
    text-decoration: none;
    font-size: 18px;
    color:white;
  }
  margin-left: 10px;
 }

.user-gig-suggested-b{
  width:400px;
  height:200px;
  //border-style: solid;
  //border-color:blue;
  a {
    text-decoration: none;
    font-size: 18px;
    color:white;
  }
  margin-left: 10px;
 }

.user-gig-suggested-c{
  width:400px;
  height:200px;
 // border-style: solid;
  //border-color:blue;
  a {
    text-decoration: none;
    font-size: 18px;
    color:white;
  }
  margin-left: 10px;
}

.user-gig-suggested-d{
  width:300px;
  height:100px;
  color: white;
 }

.user-gig-suggested-image {
  height:65%;
  width:40%;
  object-fit: cover;
  border-radius: 20px;
  padding-bottom: 8px;
  float:right;

}

.user-gig-page-main-left-carousel{
  height:150px;
  width:300px;
  float:right;
}

.carouselExampleControlsb{
  height:200px;
  width:300px;
  float:right;
}

.show-carousel-left-img{
  object-fit: fill;
  width:300px;
  height:200px;
  float:right;
}
