.user-gig-page {
  height:1000px;
  color: white;
  padding-top: 30px;
  color: white;
}

.menu-bar {
  text-align: center;
    a {
      font-family: "Open Sans";
      font-size: 24px;
      color: #FFFFFF;
      opacity: 87%;
      font-weight: "regular";
      letter-spacing: 7.5%;
    }
    span {
      color: #F7C729;
    }
}

.user-gig_page-main {
  height:500px;
  width: 100%;
  margin-left: 100px;
  margin-right: 100px;
  color: white;
}

.user-gig-page-suggested {
  // height:500px;
  // margin-left: 100px;
  // margin-right: 100px;
  width: 100%;
  position:relative;
  display:flex;
  margin-top: 200px;
  text-align: center;
  color: white;
}

.user-gig-page-suggested-title{
  position: relative;
  display: flex;
  height:25px;
  width:1000px;
  float:right;
  padding-bottom: 60px;
  padding-top: 60px;
  p {
    font-size: 22px;
    color: white;
  }
  color: white;

  span {
    color: #F7C729;
  }
}

.user-gig-page-main-left {
  height:520px;
  width:40%;
  float:left;
  color: white;
    i {
      color: #F4F798;
    }
}

.artist-photo {

  img {
    border-radius: 8px;
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
}

.artist-headline {
  margin-top: 28px;
    span {
      color: #F7C729;
    }
}
.user-gig-page-main-left-about{
  height:55%;
  width:100%;
  color: white;
    span {
      color: #F4F798;
    }
}

.memories-album {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  margin-bottom: 50px;
  margin-top: -142px;
    img {
      max-width: 100%;
      height: auto;
    }
}

.album-container {
  position: relative;
  width: 100%;
  max-width: 400px;
}

.album-container img {
  width: 600px;
  height: 400px;
}

.album-container .attachment-remove-button {
  position: absolute;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.user-gig-page-main-right {
  // height:520px;
  width: 30%;
  margin-right: 0px;
  float:right;
  margin-bottom:20px;
  color: white;
}

.user-gig-page-main-right-spotify {
  // height:70%;
  width: 94%;
  color:white;
  audio{
    float:right;
  }
  p {
    padding-bottom: 20px;
  }
}

#player-logo {
  height: 50px;
}

.player-headline {
  margin-top: 28px;
  gap: 30px;
}

.player-card {
  // display: block;
  display: flex;
  align-items: center;
  margin-top: 30px;
  // width: 133%;
  border: 2px solid #FFFFFF;
  height: 300px;
  border-radius: 17px;
  padding-left: 22px;
  padding-right: 18px;
    ul {
      margin-right: 13px;
      margin-left: -20px;
    }
    i {
      color: #F4F798;
    }

    p {
      margin: 30px 0;

    }


    .player-container {
      text-align: inherit;
      display: inline-flex;
      justify-content: center;
    }
  }

  #player {
    height: 30px;
  }

.user-gig-page-main-right-carousel{
  height:200px;
  width:100%;
  color: white;
}

#carouselExampleControls, .carousel-inner{
  height:200px;
  width:300px;
  color: white;
}

.show-carousel-img{
  object-fit: fill;
  width:300px;
  height:200px;
  color: white;
}

.user-gig-suggested-a{
  width:400px;
  height:200px;
  //border-style: solid;
  //border-color:blue;
  a {
    text-decoration: none;
    font-size: 18px;
    color:white;
  }
  margin-left: 10px;
 }

.user-gig-suggested-b{
  width:400px;
  height:200px;
  //border-style: solid;
  //border-color:blue;
  a {
    text-decoration: none;
    font-size: 18px;
    color:white;
  }
  margin-left: 10px;
 }

.user-gig-suggested-c{
  width:400px;
  height:200px;
 // border-style: solid;
  //border-color:blue;
  a {
    text-decoration: none;
    font-size: 18px;
    color:white;
  }
  margin-left: 10px;
}

.user-gig-suggested-d{
  width:300px;
  height:100px;
  color: white;
 }

.user-gig-suggested-image {
  height:65%;
  width:40%;
  object-fit: cover;
  border-radius: 20px;
  padding-bottom: 8px;
  float:right;

}

.user-gig-page-main-left-carousel{
  height:150px;
  width:300px;
  float:right;
}

.carouselExampleControlsb{
  height:200px;
  width:300px;
  float:right;
}

.show-carousel-left-img{
  object-fit: fill;
  width:300px;
  height:200px;
  float:right;
}
