<div class="footer fixed-bottom">
  <div id="socials">
    <a href="#"><i class="fa-brands fa-twitter"></i></a>
    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
  </div>

  <div id="footer-links">
    <a href="#">about</a>
    <a href="#">privacy</a>
    <a href="#">contact</a>
  </div>
</div>
