.navbar {
  position: sticky;
  top: 0;
  border: 2px solid lightgray;
}

.navbar-melomane {
  justify-content: space-between;
  background: white;
}

.navbar-melomane .navbar-collapse {
  flex-grow: 0;
}

.navbar-melomane .navbar-brand img {
  width: 45px;
  border-radius: 50%;
}

.container-fluid {
  height: 40px;
  // display: flex;
  // flex-wrap: inherit;
  // align-items: center;
  // justify-content: space-between;
  // flex-direction: row-reverse;
}
